#login-box.login-box.widget-box.no-border
  = render partial: 'devise/shared/login'
#forgot-box.forgot-box.widget-box.no-border
  = render partial: 'devise/shared/forgot'
#signup-box.signup-box.visible.widget-box.no-border
  = render partial: 'devise/shared/signup'