%div.page-content
  %div.page-header.h3 Listing Vendors
  %div.row-fluid
    %div.span12
      %div.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all#gbox_grid-table
        %div.ui-widget-overlay.jqgrid-overlay#lui_grid-table
        %div.loading.ui-state-default.ui-state-active#load_grid-table Loading....
        %div.ui-widget.ui-widget-content.ui-corner-all.ui-jqdialog.jqmID1 style: "width: 300px; height: auto; z-index: 1050; overflow: hidden; top: 160px; left: 214px; display: none;"  this is me
= link_to 'New Vendor', new_vendor_path
