.navbar-header.pull-right{role: "navigation"}
  %ul.nav.ace-nav
    %li.grey
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %i.fa.fa-tasks
        %span.badge.badge-grey 4
      %ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
        %li.dropdown-header
          %i.fa.fa-ok
          4 Tasks to complete
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left Software Update
              %span.pull-right 65%
            .progress.progress-mini
              .progress-bar{style: "width:65%"}
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left Hardware Upgrade
              %span.pull-right 35%
            .progress.progress-mini
              .progress-bar.progress-bar-danger{style: "width:35%"}
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left Unit Testing
              %span.pull-right 15%
            .progress.progress-mini
              .progress-bar.progress-bar-warning{style: "width:15%"}
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left Bug Fixes
              %span.pull-right 90%
            .progress.progress-mini.progress-striped.active
              .progress-bar.progress-bar-success{style: "width:90%"}
        %li
          %a{href: "#"}
            See tasks with details
            %i.fa.fa-arrow-right
    %li.purple
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %i.fa.fa-bell.icon-animated-bell
        %span.badge.badge-important 8
      %ul.pull-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-close
        %li.dropdown-header
          %i.fa.fa-warning-sign
          8 Notifications
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left
                %i.btn.btn-xs.no-hover.btn-pink.fa.fa-comment
                New Comments
              %span.pull-right.badge.badge-info +12
        %li
          %a{href: "#"}
            %i.btn.btn-xs.btn-primary.fa.fa-user
            Bob just signed up as an editor ...
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left
                %i.btn.btn-xs.no-hover.btn-success.fa.fa-shopping-cart
                New Orders
              %span.pull-right.badge.badge-success +8
        %li
          %a{href: "#"}
            .clearfix
              %span.pull-left
                %i.btn.btn-xs.no-hover.btn-info.fa.fa-twitter
                Followers
              %span.pull-right.badge.badge-info +11
        %li
          %a{href: "#"}
            See all notifications
            %i.fa.fa-arrow-right
    %li.green
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %i.fa.fa-envelope.icon-animated-vertical
        %span.badge.badge-success 5
      %ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
        %li.dropdown-header
          %i.fa.fa-envelope-alt
          5 Messages
        %li
          %a{href: "#"}
            = image_tag 'avatars/avatar.png', :alt => "Alex's Avatar", :class => 'msg-photo'
            %span.msg-body
              %span.msg-title
                %span.blue Alex:
                Ciao sociis natoque penatibus et auctor ...
              %span.msg-time
                %i.fa.fa-time
                %span a moment ago
        %li
          %a{href: "#"}
            = image_tag 'avatars/avatar2.png', :alt => "Susan's Avatar", :class => 'msg-photo'
            %span.msg-body
              %span.msg-title
                %span.blue Susan:
                Vestibulum id ligula porta felis euismod ...
              %span.msg-time
                %i.fa.fa-time
                %span 20 minutes ago
        %li
          %a{href: "#"}
            = image_tag 'avatars/avatar3.png', :alt => "Bob's Avatar", :class => 'msg-photo'
            %span.msg-body
              %span.msg-title
                %span.blue Bob:
                Nullam quis risus eget urna mollis ornare ...
              %span.msg-time
                %i.fa.fa-time
                %span 3:15 pm
        %li
          %a{href: "inbox.html"}
            See all messages
            %i.fa.fa-arrow-right
    %li.light-blue
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        = image_tag 'avatars/user.jpg', :alt => "Jason's Photo", :class => 'nav-user-photo'
        %span.user-info
          %small Welcome,
          Jason
        %i.fa.fa-caret-down
      %ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
        %li
          %a{href: "#"}
            %i.fa.fa-cog
            Settings
        %li
          %a{href: "#"}
            %i.fa.fa-user
            Profile
        %li.divider
        %li
          %a{href: "#"}
            %i.fa.fa-off
            Logout